body {
  margin: 0;
}

/*----------- Menu -----------*/
nav.menu {
  background-color: #061601;
  padding: 0 11rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #004a81;
  box-shadow: 0px 1px 8px 1px #1f321b;
  opacity: 0.9;
}

.indice,
.logo{

  color: #ced3cd;
  text-decoration: none;
  transition: 0.3s;
  background: none;
  font-size: 16px;
}
.logo{
  position: relative;
  right: 33%;
}

#icon{
  width: 5rem;
  height: 5rem;
  position: relative;
  right: 8rem;
}

button{
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
}

.botoesMenu {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all .5s;
}

li {
  padding: 10px;
}


.menu, 
.botoesMenu {
  display: flex;
  flex-direction: row;
}

.indice:hover,
.logo:hover,
button:hover {
  cursor: pointer;
  opacity: 0.5;
}

button:focus ~ .botoesMenu{
  height: 260px;

}

/*----------- Menu RESPONCIVO -----------*/

@media (max-width: 600px) {

  .menu, 
  .botoesMenu {
    flex-direction: column;
  
  }

  .botoesMenu {
    text-align: center;
    margin: 0px;
    height: 0;
      
  }

  .menu {
    padding: 20px;
    align-items: flex-start;
  }

  .logo{
    margin: 10px;
  }

  button {
    display: flex;
  }

  .botoesMenu, li{
    width: 100%;
  }

}